.dynamic {
    box-sizing: border-box;
    width: 200px;
    height: 80px;
    background-color: #171A2D;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #454661;
    display: flex;
    align-items: center;

    &.danger {
        border: 1px solid #E84749;
        .content {
            .content-title {
                color: #E84749;
            }
        }
    }
    .icon {
        padding: 15px;
    }

    .content {
        .content-title {
            font-size: 14px;
            line-height: 22px;
            color: #E3E4FF;
        }

        .content-subtitle {
            font-size: 12px;
            line-height: 22px;
            color: #E3E4FF;
        }
    }
}